{% extends 'base.html' %}
{% block title %}
Home|
{% endblock title %}

{% block body %}
this is my body block 

{% endblock body %}







<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wecome to website</title>
</head>
<body>
    <h1>Mi ek khup bhari website banavat ahe </h1>
    <pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Nisi doloremque at provident modi culpa labore,
         quibusdam reprehenderit saepe iure architecto, fugiat minus dolore quod.

         The value of varible first is <b> {{variable1}} </b>
         The value of varible second is <b> {{variable2}} </b>
    </pre>
    
</body>
</html> -->